main.mainScreen
  .mainScreen__slider.main-slider.js-slider
    .main-slider__item 
      a(href="#").main-slider__link
        picture.main-slider__pic
          source(srcset="static/img/content/slide.jpg, static/img/content/slide-retina.jpg 2x" media="(max-width: 480px)")
          source(srcset="static/img/content/slide.jpg, static/img/content/slide-retina.jpg 2x" media="(min-width: 481px)")
          img(src="static/img/content/slide.jpg" alt="Slide") 
    .main-slider__item 
      a(href="#").main-slider__link
        picture.main-slider__pic
          source(srcset="static/img/content/slide.jpg, static/img/content/slide-retina.jpg 2x" media="(max-width: 480px)")
          source(srcset="static/img/content/slide.jpg, static/img/content/slide-retina.jpg 2x" media="(min-width: 481px)")
          img(src="static/img/content/slide.jpg" alt="Slide") 
  .wrapper.custom-slide-arrows

        
