extends main

block title
	| Главная страница

block content
	include blocks/mainScreen/mainScreen




mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod aria-hidden="true")
		use(xlink:href="static/svg/symbol/sprite.svg#" + name)



	
